# user specific setup vars
setup.vars

# terraform generated stuff
.terraform/.terraform/
.terraform-state/*/terraform.tfstate
.terraform-state/*/terraform.tfstate.backup

# python
__pycache__/
*.py[cod]
.env
.venv
venv/
